<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\css\login.css">
    <title>YK | Login</title>
</head>
<body>
    <div class="buttonc">
        <form action="https://a836f504-8399-4271-9e7f-1ec1445c0f90-00-2x7ql71sydzxa.picard.replit.dev:3000/api/login" method="get">
            <button id="login">Login with discord (discord icon here)</button>
        </form>
    </div>
</body>
</html>